<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Hamma Yo'nalishlar ro'yxati</h1>
    <br>
    <br>
    <hr>
    {% for yonalish in yonalishlar %}
    <h1>{{yonalish.id}}. {{yonalish.nom}}  ({{yonalish.aktiv}})</h1>
    <button><a href="/yonalish_ochir/{{yonalish.id}}">O'chirish</a></button>
    <button><a href="/yonalish_update/{{yonalish.id}}">O'zgartirish</a> </button>
    {% endfor%}
    <br>
    <br>
    <br>
    <br>
    <form method="post"> {% csrf_token %}
        <label>Yo'nalish nomi: </label>
        <input type="text" name="n">
        <label>Aktiv: </label>
        <select name="a">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>