<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    <h1>Yo'nalish malumotlarini o'zgartirish</h1>
    <br>
    <br>
    <br>
    <form>
      <label>Nom: </label>
      <input type="text" name="n" value="{{yonalish.nom}}">
      <label>Asosiy: </label>
        <select name="a">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <button type="submit">Saqlash</button>
    </form>
    <br>
    <button><a href="/yonalish/">Orqaga</a></button>
</body>
</html>
